@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
body{
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif;
}
/*Source For Transitoning images: https://stackoverflow.com/questions/2983957/animate-background-image-change-with-jquery + https://jsfiddle.net/srd76/36/
*Username: James*/
#background {
  background:
     linear-gradient(
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
     ),
     url("image/space-00.jpg");
   background-size: cover;
   height: 100vh;
   /*Source For Transitoning images: https://stackoverflow.com/questions/2983957/animate-background-image-change-with-jquery + https://jsfiddle.net/srd76/36/
   *Username: James*/

}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

}
h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}
h2 {
  font-size: 2rem;
}
p {
  margin: 0;
  font-size: 1.3rem;
}

main {
  max-width: 500px;
  margin: 20px auto;
}
#friends {
  position: absolute;
  top: 50%;
  left: 50%;  transform: translate(-50%, -50%);
}
#friend{
position:absolute;
}
