@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');


html {

  background-color: white;
  background-position: center;
  position: relative;

}
body {
  width: auto;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  }

canvas {
  border: 1px solid black;
  }
  #myCanvas{
    color: #0cff15;
    background-image: url("image/bg.png");
  }
