canvas {
  border: 1px solid black;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');


html {

  background-color: white;
  background-position: center;
  position: relative;

}
body {
  width: auto;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  }
